﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aviators - byaviators.com">
   
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="/assets/libraries/chosen/chosen.css" type="text/css">
    <link rel="stylesheet" href="/assets/libraries/bootstrap-fileupload/bootstrap-fileupload.css" type="text/css">
    <link rel="stylesheet" href="/assets/libraries/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/realia-blue.css" type="text/css" id="color-variant-default">
    <link rel="stylesheet" href="#" type="text/css" id="color-variant">
   
    @RenderSection("Styles", false)
    <title>Cineast</title>
</head>
<body>
    <div id="wrapper-outer">
        <div id="wrapper">
            <div id="wrapper-inner" @*style="background-image: url(/assets/img/bg/ironMan.jpg); background-size: 100% 100%;;"*@>
                <!-- BREADCRUMB -->
                <div class="breadcrumb-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <ul class="breadcrumb pull-left">
                                    <li><a href="/MainPage/Index">Home</a></li>
                                </ul><!-- /.breadcrumb -->

                                <div class="account pull-right">
                                    <ul class="nav nav-pills">
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="registration.html">Registration</a></li>
                                    </ul>
                                </div>
                            </div><!-- /.span12 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.breadcrumb-wrapper -->
                <!-- HEADER -->
                <div id="header-wrapper">
                    <div id="header">
                        <div id="header-inner">
                            <div class="container">
                                <div class="navbar">
                                    <div class="navbar-inner">
                                        <div class="row">
                                            <div class="logo-wrapper span4">
                                                <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                                                <div class="logo">
                                                    <a href="/MainPage/Index" title="Home">
                                                        <img src="/assets/img/movie.png" alt="Home" style="width:100px;height:100px">
                                                    </a>
                                                </div><!-- /.logo -->

                                                <div class="site-name">
                                                    <a href="/MainPage/Index" title="Home" class="brand">Cineast</a>
                                                </div><!-- /.site-name -->

                                                <div class="site-slogan">
                                                    <span>Reveale your talent <br>to the world</span>
                                                </div><!-- /.site-slogan -->
                                            </div><!-- /.logo-wrapper -->




                                        </div><!-- /.row -->
                                    </div><!-- /.navbar-inner -->
                                </div><!-- /.navbar -->
                            </div><!-- /.container -->
                        </div><!-- /#header-inner -->
                    </div><!-- /#header -->
                </div><!-- /#header-wrapper -->
                <!-- NAVIGATION -->
                <div id="navigation">
                    <div class="container">

                        <div class="navigation-wrapper">

                            <div class="navigation clearfix-normal">

                                <ul class="nav">
                                    <li>@Html.ActionLink("MainPage", "Index", "MainPage")</li>
                                    <li>@Html.ActionLink("movies", "Index", "Movies") </li>
                                    <li>talk Session</li>
                                    <li>BoxOffice</li>
                                    <li>Cinema Theatre</li>
                                    <li>Contact Us</li>

                                </ul><!-- /.nav -->

                                <div class="language-switcher">
                                    <div class="current en"><a href="/" lang="en">English</a></div><!-- /.current -->
                                    <div class="options">
                                        <ul>
                                            <li class="fr"><a href="#">Français</a></li>
                                            <li class="de"><a href="#">Deutsch</a></li>
                                        </ul>
                                    </div><!-- /.options -->

                                </div><!-- /.language-switcher -->
                            @using (Html.BeginForm("Index", "Movies", FormMethod.Get)) { 
                                <div class="site-search" >
                                    <div class="input-append">
                                        @*<input title="Enter the terms you wish to search for." class="search-query span2 form-text" placeholder="Search" type="text" name="">*@
                                        <span class="search-query span2 form-text">

                                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)

                                            <button type="submit" class="btn">

                                                <i class="icon-search"></i>

                                            </button>

                                        </span>

                                    </div><!-- /.input-append -->
                                </div><!-- /.site-search -->
                            }
                                <a class="btn btn-primary btn-large list-your-property arrow-right" href="list-your-property.html"><img src="/assets/img/logo.png" alt="Home">Profile</a>
                            </div><!-- /.navigation -->

                        </div><!-- /.navigation-wrapper -->

                    </div><!-- /.container -->

                </div><!-- /.navigation -->
                <!-- CONTENT -->
                <div id="content">
                    <div class="carousel-wrapper">

                        <!-- /.carousel -->
                    </div><!-- /.carousel-wrapper -->

                    <div class="container">
                        <div id="main">

                            <div>
                                @RenderBody()
                                @RenderSection("scripts", required: false) @*----Optional---*@
                            </div>
                            <!-- /.features -->
                        </div>
                    </div>

                    <div class="bottom-wrapper">
                        <div class="bottom container">
                            <div class="bottom-inner row">

                            </div><!-- /.bottom-inner -->
                        </div><!-- /.bottom -->
                    </div><!-- /.bottom-wrapper -->
                </div><!-- /#content -->
            </div><!-- /#wrapper-inner -->

            <div id="footer-wrapper">
                <div id="footer-top">
                    <div id="footer-top-inner" class="container">
                        <div class="row">


                            <div class="widget span3">
                                <div class="title">
                                    <h2>Contact us</h2>
                                </div><!-- /.title -->

                                <div class="content">
                                    <table class="contact">
                                        <tbody>
                                            <tr>
                                                <th class="address">Address:</th>
                                                <td>8 Rue de l'Usine<br>Tunis 2035<br>Tunisia<br></td>
                                            </tr>
                                            <tr>
                                                <th class="phone">Phone:</th>
                                                <td>+216 26 522 294</td>
                                            </tr>
                                            <tr>
                                                <th class="email">E-mail:</th>
                                                <td><a href="mailto:info@yourcompany.com">Dev.Leaders@esprit.tn</a></td>
                                            </tr>
                                            <tr>
                                                <th class="skype">Skype:</th>
                                                <td>Dev.Leaders</td>
                                            </tr>
                                            <tr>
                                                <th class="gps">GPS:</th>
                                                <td>36.855875<br> 10.207046</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- /.content -->
                            </div><!-- /.widget -->

                            <div class="widget span3">
                                <div class="title">
                                    <h2 class="block-title"></h2>
                                </div><!-- /.title -->

                                <div class="content">

                                </div><!-- /.content -->
                            </div><!-- /.widget -->

                            <div class="widget span3">
                                <div class="title">
                                    <h2 class="block-title">Say hello!</h2>
                                </div><!-- /.title -->

                                <div class="content">
                                    <form method="post">
                                        <div class="control-group">
                                            <label class="control-label" for="inputName">
                                                Name
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" id="inputName">
                                            </div><!-- /.controls -->
                                        </div><!-- /.control-group -->

                                        <div class="control-group">
                                            <label class="control-label" for="inputEmail">
                                                Email
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" id="inputEmail">
                                            </div><!-- /.controls -->
                                        </div><!-- /.control-group -->

                                        <div class="control-group">
                                            <label class="control-label" for="inputMessage">
                                                Message
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>

                                            <div class="controls">
                                                <textarea id="inputMessage"></textarea>
                                            </div><!-- /.controls -->
                                        </div><!-- /.control-group -->

                                        <div class="form-actions">
                                            <input type="submit" class="btn btn-primary arrow-right" value="Send">
                                        </div><!-- /.form-actions -->
                                    </form>
                                </div><!-- /.content -->
                            </div><!-- /.widget -->
                        </div><!-- /.row -->
                    </div><!-- /#footer-top-inner -->
                </div><!-- /#footer-top -->

                <div id="footer" class="footer container">
                    <div id="footer-inner">
                        <div class="row">
                            <div class="span6 copyright">
                                <p>© Copyright 2015 by Dev.Leaders All rights reserved.</p>
                            </div><!-- /.copyright -->

                            <div class="span6 share">
                                <div class="content">
                                    <ul class="menu nav">
                                        <li class="first leaf"><a href="http://www.facebook.com" class="facebook">Facebook</a></li>
                                        <li class="leaf"><a href="http://flickr.net" class="flickr">Flickr</a></li>
                                        <li class="leaf"><a href="http://plus.google.com" class="google">Google+</a></li>
                                        <li class="leaf"><a href="http://www.linkedin.com" class="linkedin">LinkedIn</a></li>
                                        <li class="leaf"><a href="http://www.twitter.com" class="twitter">Twitter</a></li>
                                        <li class="last leaf"><a href="http://www.vimeo.com" class="vimeo">Vimeo</a></li>
                                    </ul>
                                </div><!-- /.content -->
                            </div><!-- /.span6 -->
                        </div><!-- /.row -->
                    </div><!-- /#footer-inner -->
                </div><!-- /#footer -->
            </div><!-- /#footer-wrapper -->
        </div><!-- /#wrapper -->
    </div><!-- /#wrapper-outer -->



    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.ezmark.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.currency.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/assets/js/retina.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/carousel.js"></script>
    <script type="text/javascript" src="/assets/js/gmap3.min.js"></script>
    <script type="text/javascript" src="/assets/js/gmap3.infobox.min.js"></script>
    <script type="text/javascript" src="/assets/libraries/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="/assets/libraries/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/assets/libraries/iosslider/_src/jquery.iosslider.min.js"></script>
    <script type="text/javascript" src="/assets/libraries/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="/assets/js/realia.js"></script>
</body>
</html>