@model Cineaste.Data.Models.movie

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Template/CineastTemplate.cshtml";
}

<h2>Create</h2>

<table border="0">
    <tr>
        <td>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h4>movie</h4>
   
    @Html.ValidationSummary(true)

    @*  create form*@
    <div >
        <div >
            <div>
                <div id="main">
                    <div class="list-your-property-form">
                        <h2 class="page-header">List your Movie property</h2>

                        <div class="content">
                            <div class="row">
                                <div class="span8">

                                </div>
                                <!-- /.span8 -->
                            </div>
                            <!-- /.row -->


                            <div class="row">
                                <div class="span4">
                                    <h3><strong>1.</strong> <span>Movie info</span></h3>

                                    <div class="control-group">
                                        <label class="control-label" for="inputPropertyFirstName">
                                            Title
                                            <span class="form-required" title="This field is required.">*</span>
                                        </label>
                                        <div class="controls">
                                            @Html.EditorFor(model => model.title)
                                            <span class="form-required" title="This field is required.">
                                                @Html.ValidationMessageFor(model => model.title)
                                            </span>
                                        </div>
                                        <!-- /.controls -->
                                    </div>
                                    <!-- /.control-group -->


                                    <div class="control-group">
                                        <label class="control-label" for="inputPropertyFirstName">
                                            Genre
                                            <span class="form-required" title="This field is required.">*</span>
                                        </label>
                                        <div class="controls">
                                            @Html.EditorFor(model => model.genre)
                                            <span class="form-required" title="This field is required.">
                                                @Html.ValidationMessageFor(model => model.genre)
                                            </span>
                                        </div>
                                        <!-- /.controls -->
                                    </div>
                                    <!-- /.control-group -->

                                    <div class="control-group">
                                        <label class="control-label" for="inputPropertyFirstName">
                                            Theme
                                            <span class="form-required" title="This field is required.">*</span>
                                        </label>
                                        <div class="controls">
                                            @Html.EditorFor(model => model.theme)
                                            <span class="form-required" title="This field is required.">
                                                @Html.ValidationMessageFor(model => model.theme)
                                            </span>
                                        </div>
                                        <!-- /.controls -->
                                    </div>
                                    <!-- /.control-group -->

                                    <div class="control-group">
                                        <label class="control-label" for="inputPropertyFirstName">
                                            Date of realise
                                            <span class="form-required" title="This field is required.">*</span>
                                        </label>
                                        <div class="controls">
                                            @Html.EditorFor(model => model.dateOfRealise)
                                            <span class="form-required" title="This field is required.">
                                                @Html.ValidationMessageFor(model => model.dateOfRealise)
                                            </span>
                                        </div>
                                        <!-- /.controls -->
                                    </div>
                                    <!-- /.control-group -->
                                    <div class="control-group">
                                        <label class="control-label" for="inputPropertyFirstName">
                                            Budget
                                            <span class="form-required" title="This field is required.">*</span>
                                        </label>
                                        <div class="controls">
                                            @Html.EditorFor(model => model.budget)
                                            <span class="form-required" title="This field is required.">
                                                @Html.ValidationMessageFor(model => model.budget)
                                            </span>
                                        </div>
                                        <!-- /.controls -->
                                    </div>
                                    <!-- /.control-group -->
                                    <div class="control-group">
                                        <label class="control-label" for="inputPropertyNotes">
                                            Synopsis
                                            <span class="form-required"
                                                  title="This field is required.">*</span>
                                        </label>

                                        <div class="controls">
                                            @Html.EditorFor(model => model.synopsis)
                                           

                                            @*<textarea id="inputPropertyNotes" style="height:auto"></textarea>*@
                                        </div>
                                        <!-- /.controls -->
                                    </div>
                                    <!-- /.control-group -->
                                </div>
                                <!-- /.span4 upload  -->

                                

                               
                                <!-- /.span4 upload end-->
                            </div>
                            <!-- /.row -->

                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.list-your-property-form -->
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*  create form end*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    
}
    </td>
<td align="left">
   
<div class="span4" >

    <h3><strong>2.</strong> <span>upload</span></h3>
    @using (Ajax.BeginForm("upload", "movies", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken()
        <div class="fileupload fileupload-new control-group"
             data-provides="fileupload">
            <label class="control-label" for="inputPropertyPrice">
                Image files
            </label>

            <div class="input-append">
                <div class="uneditable-input">
                    <i class="icon-file fileupload-exists"></i>
                    <span class="fileupload-preview"></span>
                </div>
                <span class="btn btn-file">
                    <span class="fileupload-new">Select file</span>
                    <span class="fileupload-exists">Change</span>
                    <input type="file" name="photo" id="photo" />

                </span>

            </div>
            <!-- /.input-append -->
        </div>
    <input type="submit" value="Upload" class="btn btn-success" onclick="alert('picture successfuly uploaded')" />
}

   

    

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script>
        (function () {

    

            $('form').ajaxForm({
          
                complete: function (xhr) {
                    status.html(xhr.responseText);
                }
            });

        })();
    </script>

    @using (Ajax.BeginForm("uploadvideo", "movies", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="fileupload fileupload-new control-group"
             data-provides="fileupload">
            <label class="control-label" for="inputPropertyPrice">
                video files
            </label>

            <div class="input-append">
                <div class="uneditable-input">
                    <i class="icon-file fileupload-exists"></i>
                    <span class="fileupload-preview"></span>
                </div>
                <span class="btn btn-file">
                    <span class="fileupload-new">Select file</span>
                    <span class="fileupload-exists">Change</span>
                    <input type="file" name="video" id="video" />

                </span>

            </div>
            <!-- /.input-append -->
        </div>
    <input type="submit" value="Upload" class="btn btn-success" onclick="alert('video successfuly uploaded')"/>
    }





    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script>
        (function () {



            $('form').ajaxForm({

                complete: function (xhr) {
                    status.html(xhr.responseText);
                }
            });

        })();
    </script>





</div>
    </td>
    </tr>
</table>