﻿@model Cineaste.Data.Models.movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Template/CineastTemplate.cshtml";
}

@* rating style  *@
@section Styles {
    <link href="@Url.Content("/assets/css/rating.css")" rel="stylesheet" type="text/css" />
}

@* rating style end *@
@* details *@
<div id="content">
    <div class="container">
        <div id="main">
            <div class="row">
                <div class="span9">
                    <h1 class="page-header">@Html.DisplayFor(model => model.title)</h1>

                    <div class="carousel property">
                        <div class="preview">
                            @* <img src="/assets/img/tmp/property-large-1.jpg" alt="">*@
                            <video width="870" controls>
                                <source src="@string.Concat("http://localhost:2000/Video/", Model.trailer+".mp4")" type="video/mp4">
                            </video>
                        </div>

                    </div>
                    <!-- /.carousel -->

                    <div class="property-detail">
                        <div class="pull-left overview">
                            <div class="row">
                                <div class="span3">
                                    <h2>Overview</h2>

                                    <table>
                                        <tr>
                                            <th>Title:</th>
                                            <td>@Html.DisplayFor(model => model.title)</td>
                                        </tr>
                                        <tr>
                                            <th>genre:</th>
                                            <td>@Html.DisplayFor(model => model.genre)</td>
                                        </tr>
                                        <tr>
                                            <th>Theme:</th>
                                            <td>@Html.DisplayFor(model => model.theme)</td>
                                        </tr>
                                        <tr>
                                            <th>date:</th>
                                            <td>@Html.DisplayFor(model => model.dateOfRealise)</td>
                                        </tr>
                                        <tr>
                                            <th>Budget:</th>
                                            <td>@Html.DisplayFor(model => model.budget) $</td>
                                        </tr>
                                        <tr>
                                            <th>Uploaded by</th>
                                            <td>@Html.DisplayFor(model => model.user.firstName)</td>
                                        </tr>
                                        <tr>
                                            <th>Like & Share</th>
                                            <td>
                                                <div id="like">
                                                    <div id="fb-root"></div>
                                                    <script>
                                                        (function (d, s, id) {
                                                            var js, fjs = d.getElementsByTagName(s)[0];
                                                            if (d.getElementById(id)) return;
                                                            js = d.createElement(s); js.id = id;
                                                            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=1685653214994310&version=v2.0";
                                                            fjs.parentNode.insertBefore(js, fjs);
                                                        }(document, 'script', 'facebook-jssdk'));</script>
                                                    <div class="fb-like" data-href= "@string.Concat("https://developers.facebook.com/apps/1685653214994310/dashboard/", Model.id)" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

                                                </div>

                                            </td>
                                        </tr>
                                        @*<tr>
                                            <th>rate</th>
                                            <td>
                                                <span class="star-rating">
                                                 

                                                    <input type="radio" name="rating" value="1"><i></i>
                                                    <input type="radio" name="rating" value="2"><i></i>
                                                    <input type="radio" name="rating" value="3"><i></i>
                                                    <input type="radio" name="rating" value="4"><i></i>
                                                    <input type="radio" name="rating" value="5"><i></i>
                                                </span>
                                                <strong class="choice">Choose a rating</strong>
                                                <script src="/assets/js/jquery.js"></script>
                                                <script type="text/javascript">
                                                    $(':radio').change(
                                                            function () {
                                                                $('.choice').text(this.value + ' stars');
                                                            }
                                                    )
                                                </script>

                                            </td>
                                        </tr>*@
                                    </table>
                                </div>
                                <!-- /.span2 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <div>
                            <p>
                                <strong>Synopsis:</strong>
                            </p>
                            <p>
                                <strong>@Html.DisplayFor(model => model.synopsis)</strong>
                            </p>
                        </div>


                        <div class="row">

                            <div id="fb-root"></div>

                            <script>
                                (function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s); js.id = id;
                                    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=1685653214994310&version=v2.0";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>
                            <div class="fb-comments" data-href="@string.Concat("http://localhost:1080/Movies/Details/", Model.id)" data-width="800" data-numposts="5" data-colorscheme="light" style="padding-left:30px">

                            </div>
                        </div>


                        <!-- /#property-map -->
                    </div>

                </div>
                <div class="sidebar span3"></div>
            </div>
        </div>
    </div>
</div>
@* details end *@


