﻿@model Cineaste.Web.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm("ExternalLoginConfirmation", "Authentication", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="smart-green">
        <br /><br />
        <h1>Association Form</h1>
        <h4>You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.</h4>
        <table class="flatTable">

            <tr>
                <td class="titleTd">
                    @Html.LabelFor(m => m.Email)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Email)
                </td>

            </tr>
         
        </table>
    </div>

    @*<h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true)
    <p class="text-info">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>*@
    <center>
        <input type="submit" class="btn btn-fb" value="Register" />
    </center>

}

