﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Template/CineastTemplate.cshtml";
}

@{
    ViewBag.Title = "Login Failure";
}

<h2>@ViewBag.Title.</h2>
<h3 class="text-error">Unsuccessful login with service.</h3>
