﻿@model Cineaste.Data.Models.user
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Template/CineastTemplate.cshtml";
}
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using (Html.BeginForm("Register", "Authentication", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{


    <div class="form-horizontal">
        <h4>user</h4>
        <hr />
        @Html.ValidationSummary(true)





        <div class="form-group">
            @ViewBag.Error
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
}



