﻿@model IEnumerable<Cineaste.Data.Models.movie>
@*@model PagedList.IPagedList<Cineaste.Data.Models.movie>
@using PagedList.Mvc;*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Template/CineastTemplate.cshtml";
}
@* caroussel *@
<div id="content" style="width:inherit">
    <div class="carousel-wrapper">
        <div class="carousel">

            <div class="content">
                <h2 class="page-header">MOVIES</h2>

                <a class="carousel-prev" href="detail.html">Previous</a>
                <a class="carousel-next" href="detail.html">Next</a>
                <ul>
@foreach (var item in Model) {
                    <li>
                        <div class="image">
                            @Html.ActionLink(".", "Details/"+item.id, "Movies")
                            <img src="@string.Concat("http://localhost:2000/",  item.ImgUrl)"  alt="@string.Concat("http://localhost:2000/",  item.ImgUrl)" style="height:200px;width:225px " />
                        </div>

                        <!-- /.image -->
                        <div class="title">
                            @*@Html.DisplayFor(modelItem => item.title)*@
                            
                            <h3>@Html.ActionLink(item.title + "", "Details/" + item.id, "Movies")</h3>
                        </div>
                        <!-- /.title -->
                        <div class="location">@Html.DisplayFor(modelItem => item.genre)</div>
                        <!-- /.location-->
                        <div class="price">@Html.DisplayFor(modelItem => item.budget)</div>
                        <!-- .price -->
                        <div class="area">
                            <span class="key">date</span>
                            <span class="value">@Html.DisplayFor(modelItem => item.dateOfRealise)</span>
                        </div>
                        <!-- /.area -->
                        <div class="bathrooms">
                            @*<div class="inner">@Html.DisplayFor(modelItem => item.sommeNb )</div>*@
                        </div>
                        <!-- /.bathrooms -->


                    </li>
}
                </ul>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.carousel -->
    </div>
    <!-- /.carousel-wrapper -->
</div>

@* carousselEND *@

@* grid and filter *@
<div class="container" >

    <div id="main">
        <div class="row" >
            <div class="span12">

                <!-- /.properties-rows -->
                <div class="properties-grid">
                    <div class="row">

                        @foreach (var item in Model)
                        {
                            <div class="property span3">
                                <div class="image">
                                    <div class="content">
                                        @Html.ActionLink(".", "Details/" + item.id, "Movies")
                                        <img src="@string.Concat("http://localhost:2000/",  item.ImgUrl)" alt="" style="height:200px;width:275px ">
                                    </div>
                                    <!-- /.content -->
                                    <!-- /.reduced -->
                                </div>
                                <!-- /.image -->

                                <div class="title">
                                    <h2>@Html.ActionLink(item.title + "", "Details/" + item.id, "Movies")</h2>
                                </div>
                                <!-- /.title -->

                                <div class="location">@Html.DisplayFor(modelItem => item.genre)</div>
                                <!-- /.location -->
                                <div class="area">
                                    <span class="key">Date:</span><!-- /.key -->
                                    <span class="value">@Html.DisplayFor(modelItem => item.dateOfRealise)</span><!-- /.value -->
                                </div>

                                <!-- /.bedrooms -->
                                <div class="bathrooms">
                                    @*<div class="content">@Html.DisplayFor(modelItem => item.sommeNb)</div>*@
                                </div>
                                <!-- /.bathrooms -->
                            </div>
                        }
                        <!-- /.property -->
                        <!-- /.property -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.properties-grid -->
                @*<div class="pagination pagination-centered">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        <ul>
                            <li>
                                @Html.PagedListPager(Model, page => Url.Action("Index",
                                     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        </li>

                    </ul>
                </div>*@
                <!-- /.pagination -->
                <!-- /.pagination -->
            </div>


        </div>
    </div>
</div>

@* grid and filter end *@

 
